global:
  image:
    tag: "v3.0-db"  # Python 앱 버전

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::863422182520:role/ezl-app-server-dev-role"

ingress:
  enabled: true
  className: nginx
  setIdentifier: app-nginx
  weight: 50
  hosts:
    - host: app.sd.seungdobae.com
      path: /
      pathType: Prefix
      whitelist:
        - 58.239.25.4
        - 117.111.5.71

alb:
  enabled: true    
  className: alb
  setIdentifier: app-alb
  weight: 50
  whitelist:
    - 58.239.25.4/32
    - 117.111.5.71/32
  hosts:
    - host: app.sd.seungdobae.com
      paths:
        - path: /
          pathType: Prefix
  
# 개발용 설정
replicaCount: 2
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

# 오토스케일링 비활성화
autoscaling:
  enabled: false

# 엄격한 헬스체크
startupProbe:
  httpGet:
    path: /api/intgapp/ping/
    port: 8000
  failureThreshold: 5
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5

livenessProbe:
  httpGet:
    path: /api/intgapp/ping/
    port: 8000
  failureThreshold: 3
  periodSeconds: 30
  timeoutSeconds: 5

readinessProbe:
  httpGet:
    path: /api/intgapp/ping/
    port: 8000
  failureThreshold: 3
  periodSeconds: 10
  timeoutSeconds: 5